.slider_product{
  line-height: 100px;
  height: 100px;
  text-align: center;
  background: #00558B;
  color: #ffffff;
  width: 90%;
  margin: auto;

  .slick-prev:before, .slick-next:before{
    color: #00558B;
  }
}